:root {
  --black: #1b1b1b;
  --black-light: #292929;
  --white: #fff;
  --orange: #ffa31a;
  --orange-light: #ffcc99;
  --orange-dark: #8e5500;
  --gray: #ccc;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--black);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ffa31a;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
